.btn-warning {
    color: black !important;
}


.field-validation-error {
    background-color: #FFCDD2 !important;
    padding: 10px !important;
    margin-bottom: 50px !important;
    border-radius: 10px;
    width: 100%;
}

.card-body {
    padding-top: 0px !important;
}

td {
    padding: 10px !important;
}
